body {
    height: 100%;

}

.productCard.scrollTarget {
    background-color: gold;
    filter: drop-shadow(.5rem 1.5rem 1rem gold);
}

.gone {
    display: none;
}

header {
    position: flex;
}

header > form {
    display: inline-block;
    position: absolute;
    right: 1em;
}


div.pageContent {
    margin-bottom: -2em;
}

.lowStock {
    color: lightcoral;
}

.stock {
    font-style: italic;
}

.lowStock {
    display: block;
}

.productCard .price {
    margin-left: 2em;
}

.card, .productCard {
    border-width: 2px;
    border-style: solid;
    border-color: #CCC;
    background-color: #CCC;
    margin-bottom: 2em;
    border-radius: 10px;
    display: inline-block;
    padding: .2em;
    transition: top ease-in-out 0.5s;
}

.productCard {
    position: relative;
    filter: drop-shadow(.5rem 1.5rem 1rem gray);
}

.card:not(.productCard ) {
    display: flex;
    margin: auto;
    max-width: 80%;
    min-width: 55%;
}
.products {
    display: flex;
    margin: auto;
    max-width: 80%;
    min-width: 55%;
    flex-direction: column;
    justify-content: space-evenly;
}

.productCard:hover {
    background-color: #BBB;
    top: -0.5em;
}

.scrollTarget.productCard:hover{
    background-color: #eec600;
    top: -0.5em;
}

.productSubtitle {
    display: flex;
    justify-content: space-between;
}


footer {
    margin-top: 2em;
    height: 2em;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
}

.tabCollection div {
    float: left;
    display: block;
    border-radius: 1em 0 1em 1em;
}

.tabCollection input[type="radio"] {
    opacity: 0;
}

.tabCollection label {
    display: grid;
    padding: 1em;
    background: #EEE;
    cursor: pointer;
    position: relative;
}

.tabCollection label:first-child {
    border-radius: 2em 2em 0 0;
}

.tabCollection form label:last-of-type {
    border-radius: 0 0 2em 0;
}

.tabCollection form button {
    border-radius: 0 0 .5em .5em;
}

.tabCollection label:hover {
    background: #DDD;
}

.tabCollection .tabContent {
    z-index: 2;
    display: none;
    overflow: hidden;
    max-width: 25%;
    min-width: 300px;
    padding: 25px;
    position: absolute;
    right: 0;
    background: #BBB;
}

.tabCollection .tab:checked + label {
    top: 0;
    background: #BBB;
}

.tabCollection .tab:checked ~ .tabContent {
    display: block;
}

#auth-header div {
    display: flex;
    align-items: center;
}

#auth-header div > * {
    margin-left: 10px;
}

ul.noBullets {
    list-style-type: none;
}
/*
--------------------------------
Product Page Styles
--------------------------------
*/

#product-form .form-group {
    padding: 6px 0;
}

#product-specs .table {
    margin: 0 12px;
}

#productImages {
    margin-bottom: 120px;
}

.carousel-image {
    object-fit: cover;
    max-height: 300px;
}

/* Fixes odd formatting issue with rows in form groups. */
.form-group.row {
    padding: 6px 8px !important;
}

.carousel-indicators {
    justify-content: left;
    transform: translateY(100%);
    margin: 0 !important;
}

.carousel-indicators button:first-child {
    margin-left: 0 !important;
}

.carousel-indicators [data-bs-target] {
    height: 100px;
    width: 100px !important;
}

.carousel-indicators img {
    object-fit: cover;
    height: 100%;
}

.lowStock--label {
    height: 40px;
    margin-bottom: 0;
}

.lowStock--label p {
    margin: 6px;
}

.angry {
    text-transform: uppercase;
    animation: shake 200ms;
    animation-iteration-count: infinite;
}

/* https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


.full-review {
    background: #c8c8c8;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    max-width: 47%;
    vertical-align: top;
    padding: 8px 16px 8px 8px;;
}

.review {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
}

.review-likes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.review-likes p {
    margin: 4px 0;
}

.review-body {
    margin-left: 10px;
}

.review-body > p {
    word-break: break-word;
}

.review-status {
    display: flex;
    justify-content: space-around;
}

.rating-active {
    background: #83bcea;
}

.error {
    color: red;
}

#new-review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 50px;
}

.review-form-elem {
    display: flex;
    align-items: center;
}
.review-form-elem > label {
    margin-right: 15px;
}

input.comment {
    width: 110px;
}

.filter-tags > input {
    margin-right: 10px;
}