body {
    height: 100%;

}

.gone {
    display: none;
}

header{
    position: flex;
}

header > form {
    display: inline-block;
    position: absolute;
    right: 1em;
}


div.pageContent {
    margin-bottom: -2em;
}

.lowStock{
    color: lightcoral;
}

.stock {
    font-style: italic;
}

.lowStock {
    display: block;
}

.productCard .price {
    margin-left: 2em;
}

.productCard {
    border-width: 2px;
    border-style: solid;
    border-color: #CCC;
    background-color: #CCC;
    filter: drop-shadow(.5rem 1.5rem 1rem gray);
    margin-bottom: 2em;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    padding: .2em;
    transition: top ease-in-out 0.5s;
}
.products {
    display: flex;
    margin: auto;
    max-width: 80%;
    min-width: 55%;
    flex-direction: column;
    justify-content: space-evenly;
}

.productCard:hover{
    background-color: #BBB;
    top: -0.5em;
}

.productSubtitle{
    display: flex;
    justify-content: space-between;
}


footer {
    margin-top: 2em;
    height: 2em;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
}

.tabCollection div {
    float: left;
    display: block;
}
.tabCollection input[type="radio"] {
    opacity: 0;
    position: absolute;
    top: 0;
}

.tabCollection div {
    border-radius: 0 1em 1em 1em;
}

.tabCollection label {
    display: grid;
    padding: 1em;
    background: #EEE;
    cursor: pointer;
    position: relative;
    top: 4px;
}
.tabCollection label:first-child {
    border-radius: 2em 2em 0 0;
}

.tabCollection div div label:last-of-type {
    border-radius: 0 0 2em 0;
}

.tabCollection form button {
    border-radius: 0 0 .5em .5em;
}

.tabCollection 
.tabCollection label:hover {
    background: #DDD;
}
.tabCollection .tabContent {
    z-index: 2;
    display: none;
    overflow: hidden;
    max-width: 25%;
    min-width: 300px;
    padding: 25px;
    position: absolute;
    right: 0;
    background: #BBB;
}
.tabCollection .tab:checked + label {
    top: 0;
    background: #BBB;
}
.tabCollection .tab:checked ~ .tabContent {
    display: block;
}
