<div class="container">
    {{#each cart}}
        <div class="card mb-4 mt-4">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{pictures.[0]}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{description}}</p>
                        <p class="card-text"><small class="text-muted price">{{price}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
